<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <userSettings>
    <FFE.AvqSetting>
      <setting name="ApiKey" serializeAs="String"
               xdt:Transform="Replace"
               xdt:Locator="Match(name)">
        <value>4B3C1M8MXIR5P5MI</value>
      </setting>
      <setting name="LogLevel" serializeAs="String"
               xdt:Transform="Replace"
               xdt:Locator="Match(name)">
        <value>Information</value>
      </setting>
    </FFE.AvqSetting>
    <FFE.CbqSetting>
      <setting name="LogLevel" serializeAs="String"
               xdt:Transform="Replace"
               xdt:Locator="Match(name)">
        <value>Information</value>
      </setting>
    </FFE.CbqSetting>
    <FFE.FfeSetting>
      <setting name="LogLevel" serializeAs="String"
               xdt:Transform="Replace"
               xdt:Locator="Match(name)">
        <value>Information</value>
      </setting>
      <setting name="LogWriteToFile" serializeAs="String"
               xdt:Transform="Replace"
               xdt:Locator="Match(name)">
        <value>False</value>
      </setting>
      <setting name="RibbonExtendedView" serializeAs="String"
               xdt:Transform="Replace"
               xdt:Locator="Match(name)">
        <value>False</value>
      </setting>
      <setting name="CheckUpdateOnStartup" serializeAs="String"
               xdt:Transform="Replace"
               xdt:Locator="Match(name)">
        <value>True</value>
      </setting>
    </FFE.FfeSetting>
    <FFE.SsqSetting>
      <setting name="JsonUri" serializeAs="String"
               xdt:Transform="Replace"
               xdt:Locator="Match(name)">
        <value>https://github.com/LelandGrunt/test-FFE/raw/master/FFE-AddIn/SSQ/SsqUdf.json</value>
      </setting>
    </FFE.SsqSetting>
  </userSettings>
  <applicationSettings>
    <FFE.FfeSetting>
      <setting name="UpdateUrl" serializeAs="String"
               xdt:Transform="Replace"
               xdt:Locator="Match(name)">
        <value>https://api.github.com/repos/LelandGrunt/test-FFE/releases</value>
      </setting>
      <setting name="ReleasesUrl" serializeAs="String"
               xdt:Transform="Replace"
               xdt:Locator="Match(name)">
        <value>https://github.com/LelandGrunt/test-FFE/releases</value>
      </setting>
    </FFE.FfeSetting>
  </applicationSettings>
</configuration>