<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FFE.AvqSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FFE.CbqSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FFE.FfeSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FFE.SsqSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FFE.CbqSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="FFE.FfeSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <FFE.AvqSetting>
      <setting name="ApiKey" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="EnableLogging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>Information</value>
      </setting>
    </FFE.AvqSetting>
    <FFE.CbqSetting>
      <setting name="EnableLogging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>Information</value>
      </setting>
    </FFE.CbqSetting>
    <FFE.FfeSetting>
      <setting name="EnableLogging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>Information</value>
      </setting>
      <setting name="LogWriteToFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RibbonExtendedView" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckUpdateOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterFunctionsOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
    </FFE.FfeSetting>
    <FFE.SsqSetting>
      <setting name="JsonUri" serializeAs="String">
        <value>https://github.com/LelandGrunt/FFE/raw/master/FFE-AddIn/SSQ/SsqUdf.json</value>
      </setting>
      <setting name="JsonFile" serializeAs="String">
        <value>SsqUdf.json</value>
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>True</value>
      </setting>
    </FFE.SsqSetting>
  </userSettings>
  <applicationSettings>
    <FFE.CbqSetting>
      <setting name="QCB_URL" serializeAs="String">
        <value>https://www.consorsbank.de/Wertpapierhandel/Fonds/Kurs-Snapshot/snapshotoverview/{ISIN_WKN}</value>
      </setting>
      <setting name="QCB_Price_RegEx_Pattern" serializeAs="String">
        <value>&lt;strong class=.price price-minus|plus.&gt;.*?(?&lt;price&gt;\d*,\d*)&lt;/strong&gt;.*?&lt;span class="currency"&gt;(?&lt;currency&gt;.*?)&lt;/span&gt;</value>
      </setting>
      <setting name="QCB_Price_RegEx_GroupNamePrice" serializeAs="String">
        <value>price</value>
      </setting>
      <setting name="QCB_Price_RegEx_MatchIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="QCB_Price_RegEx_GroupNameCurrency" serializeAs="String">
        <value>currency</value>
      </setting>
      <setting name="QCB_Price_NumberFormat" serializeAs="String">
        <value>#,##0.00 [${CURRENCY}]</value>
      </setting>
      <setting name="QCB_Price_XPath_Price" serializeAs="String">
        <value>//strong[starts-with(@class,'price price-')]</value>
      </setting>
      <setting name="QCB_Price_XPath_Currency" serializeAs="String">
        <value>//span[@class='currency']</value>
      </setting>
    </FFE.CbqSetting>
    <FFE.FfeSetting>
      <setting name="LogTemplate" serializeAs="String">
        <value>{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} &lt;{ThreadId}&gt; [{Level:u3}] {UDF} {Message:lj}{NewLine}{Exception}</value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>Logs</value>
      </setting>
      <setting name="UpdateUrl" serializeAs="String">
        <value>https://api.github.com/repos/LelandGrunt/FFE/releases</value>
      </setting>
      <setting name="ReleaseFileName" serializeAs="String">
        <value>FFE{0}.xll</value>
      </setting>
      <setting name="ReleasesUrl" serializeAs="String">
        <value>https://github.com/LelandGrunt/FFE/releases</value>
      </setting>
      <setting name="ChangelogUrl" serializeAs="String">
        <value>https://github.com/LelandGrunt/FFE/blob/master/CHANGELOG.md</value>
      </setting>
    </FFE.FfeSetting>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>