<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming>
      <FFE.AvqSetting>
        <EnableLogging>True</EnableLogging>
        <StopRefreshAtFirstCallLimitReachedError>True</StopRefreshAtFirstCallLimitReachedError>
        <LogLevel>Information</LogLevel>
        <ApiKey>demo</ApiKey>
      </FFE.AvqSetting>
      <FFE.CbqSetting>
        <EnableLogging>True</EnableLogging>
        <LogLevel>Information</LogLevel>
      </FFE.CbqSetting>
      <FFE.FfeSetting>
        <EnableLogging>False</EnableLogging>
        <RibbonExtendedView>False</RibbonExtendedView>
        <CheckUpdateOnStartup>True</CheckUpdateOnStartup>
        <RegisterFunctionsOnStartup>True</RegisterFunctionsOnStartup>
        <LogWriteToFile>False</LogWriteToFile>
        <LogLevel>Information</LogLevel>
      </FFE.FfeSetting>
      <FFE.PlugInSetting>
        <EnableLogging>True</EnableLogging>
        <LogLevel>Information</LogLevel>
      </FFE.PlugInSetting>
      <FFE.SsqSetting>
        <EnableLogging>True</EnableLogging>
        <JsonFile>SsqUdf.json</JsonFile>
        <LogLevel>Information</LogLevel>
        <JsonUri>https://github.com/LelandGrunt/FFE/raw/master/FFE-AddIn/SSQ/SsqUdf.json</JsonUri>
        <AutoUpdate>True</AutoUpdate>
      </FFE.SsqSetting>
    </Roaming>
  </userSettings>
</configuration>