<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.13.0" targetFramework="net462" />
  <package id="AngleSharp.Io" version="0.13.1" targetFramework="net462" />
  <package id="Bogus" version="28.4.4" targetFramework="net462" />
  <package id="ExcelDna.AddIn" version="1.0.0" targetFramework="net462" />
  <package id="ExcelDna.Integration" version="1.0.0" targetFramework="net462" />
  <package id="ExcelDna.Registration" version="0.34.7" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.11.17" targetFramework="net462" />
  <package id="Jint" version="2.11.58" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.2.26" targetFramework="net462" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="Serilog" version="2.9.0" targetFramework="net462" />
  <package id="Serilog.Enrichers.Thread" version="3.1.0" targetFramework="net462" />
  <package id="Serilog.Exceptions" version="5.3.1" targetFramework="net462" />
  <package id="Serilog.Sinks.ExcelDnaLogDisplay" version="1.1.0" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>